extern:
  models:
    - gpt-4-0613
    - gpt-4-0314
  save_extern_path: ".data/external"

index:
  index_name: Default
  dataset_name_or_url: justatom
  index_by: keywords
  model_name_or_path: intfloat/multilingual-e5-base
  batch_size: 16
  similarity: l2
  filters_path: null

eval:
  delete_if_not_empty: false

train:
  max_seq_len: 512
  dataset_path: .data
  model:
    model_name_or_path: intfloat/multilingual-e5-base
    props:
      dropout: 0.1
  do_scale: false
  max_epochs: 5
  save_top_k: 2
  loss: triplet
  loss_props:
    margin: 1.2
  log_every_n_steps: 10
  val_check_interval: 30
  devices: auto
  batch_size: 64
  early_stopping:
    metric: DistanceSm
    size: 250
    mode: max
  save_model_path: weights
  val_check_interval: 30



clustering:
  embedder:
    model_name_or_path: intfloat/multilingual-e5-base
    pooling_mode: mean
    prefix: "query: "

  transformers_backend:
    batch_size: 10

  bertopic:
    top_n_words: 10
    n_gram_range: [1, 1]
    min_topic_size: 5
    calculate_probabilities: false

  umap:
    n_components: 2
    n_neighbors: 3
    min_dist: 0.1
    metric: cosine


tune:
  batch_size: 16
  loss: triplet
  max_epochs: 10
  loss_props:
    margin: 0.22
  log_metrics: wandb
  log_metrics_props:
    log_loss_every: 1
    val_check_interval: 10
    do_eval_every: 100
  early_stopping: 


model:
  ic:
    num_conv_blocks: 10
    kernel_size: 3
    hid_dim: 512
  query_encoder: null
  passage_encoder: null


log:
  log_batch_metrics: true
  log_epoch_metrics: true
