# PyTorch
torch==2.1.1
pytorch-lightning==2.1.2
torchdata==0.7.1
torchmetrics==1.2.0
# progress bars in model download and training scripts
tqdm
# Accessing files from S3 directly.
boto3==1.34.7
# Used for downloading models over HTTP
requests
# Scipy & sklearn for stats in run_classifier
scipy>=1.11.4
sklearn
# Metrics or logging related
seqeval==1.2.2
wandb==0.16.1
# huggingface repository
transformers==4.30.2
# accessing dictionary elements with dot notation
dotmap==1.3.30
python-dotenv==1.0.0
loguru==0.7.2
weaviate-client==3.24.2