name: Continuous integration

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  format-check:
    name: Format check
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: '3.11'
        architecture: 'x64'
    - name: Install black and isort
      run: python -m pip install --upgrade pip && python -m pip install black isort
    - name: Run format checks
      run: make format-check
  lint:
    name: Lint (pylint+mypy)
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: '3.11'
        architecture: 'x64'
    - name: Install lint tools
      run: |
        python -m pip install --upgrade pip
        python -m pip install pylint mypy
    - name: Lint
      run: |
        pylint justatom --errors-only --disable=import-error
        mypy justatom --ignore-missing-imports
  pytest-ubuntu:
    strategy:
      matrix:
        python-version: [ '3.7', '3.8', '3.9', '3.10', '3.11' ]
    name: Tests (Ubuntu)
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
        architecture: 'x64'
    - name: Install requirements
      run: pip install .[torch,test]
    - name: Run tests
      run: RUN_SLOW_TESTS=1 pytest tests -m "not integration"
  pytest-windows:
    name: Tests (Windows)
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-python@v5
      with:
        python-version: '3.10'
        architecture: 'x64'
    - name: Install requirements
      run: pip install .[torch,test]
    - name: Run tests
      run: pytest tests -m "not integration"
  pytest-macos:
    name: Tests (MacOS)
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-python@v5
      with:
        python-version: '3.11'
        architecture: 'x64'
    - name: Install requirements
      run: pip install .[torch,test]
    - name: Run tests
      run: RUN_SLOW_TESTS=1 pytest tests -m "not integration"

  pytest-integration-weaviate:
    name: Integration tests (Weaviate, Ubuntu)
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-python@v5
      with:
        python-version: '3.11'
        architecture: 'x64'
    - name: Start Weaviate
      run: docker compose up -d weaviate
    - name: Install requirements
      run: pip install .[torch,test]
    - name: Run integration tests
      run: pytest tests -m integration
  build-docs:
    name: Build documentation
    uses: ./.github/workflows/docs-reusable.yaml
